<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioRecicladoBotellas" />
                <binding name="BasicHttpBinding_IServicioRecicladoBotellas1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62922/ServicioRecicladoBotellas.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioRecicladoBotellas"
                contract="WCFServicioRecicladoBotellas.IServicioRecicladoBotellas"
                name="BasicHttpBinding_IServicioRecicladoBotellas" />
            <endpoint address="http://www.recicladounivalle.somee.com/ServicioRecicladoBotellas.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioRecicladoBotellas1"
                contract="ServicioRecicladoBotellas.IServicioRecicladoBotellas"
                name="BasicHttpBinding_IServicioRecicladoBotellas1" />
        </client>
    </system.serviceModel>
</configuration>